In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [7]:
train_df = pd.read_csv('../data/data_train.csv')
eval_df = pd.read_csv('../data/data_eval.csv')
all_df = pd.read_csv('../data/data.csv')

In [8]:
train_df

,question,answer,image_id
0,what is the object on the shelves,cup,image100
1,how man chairs are there,6,image888
2,what is hanged to the right side of the bed,curtain,image1174
3,how many picture are on the wall,2,image942
4,what is the object on the floor behind the rack,room_divider,image1220
...,...,...,...
9969,what is to the right of the table,cabinet,image1349
9970,what is the colour of the lamp,black,image956
9971,what is behind the lamp,curtain,image1009
9972,what is the object close to the middle counter...,stove,image908
9973,what is above the stove,microwave,image126

In [9]:
eval_df

,question,answer,image_id
0,what is the colour of the bag on the chair,pink,image399
1,what is at the right bottom,table,image1341
2,what are found on the rack,toy,image1320
3,what is left of printer,mirror,image529
4,what is the colour of television,black,image201
...,...,...,...
2489,what is beneath the monitor,paper,image528
2490,what is the largest object,bed,image1077
2491,what is on the right side of the tap,bottle_of_hand_wash_liquid,image695
2492,how many lights are above the table,3,image875
2493,what is on the table,decorative_item,image1377

In [11]:
print(train_df.isnull().sum())

question    0
answer      0
image_id    0
dtype: int64

In [12]:
print(train_df['answer'].value_counts().head())

answer
2         442
table     346
chair     293
3         257
window    227
Name: count, dtype: int64